body{
    font-family:Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.calculator{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0,0,10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.calculator input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}


.buttons {
   display:grid;
   grid-template-columns: repeat(3,1fr);
   gap: 10px;
   margin-top: 10px;
}

.buttons button{
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

.buttons button:hover{
    background: #45A049;
}

h2{
    margin-top: 15px;
}